body {
  font-family: "Lato", sans-serif; }

.container {
  margin: 3rem 3rem 0 3rem; }

.navbar {
  min-height: 5rem; }
  .navbar .btn-box {
    margin-left: auto;
    display: block;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #28a745;
    font-weight: 400;
    transition: background-color 0.5s ease;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 50px; }
    .navbar .btn-box:hover {
      background-color: #1e7e34; }

.hero {
  text-align: center; }
  .hero h1 {
    font-size: 3rem;
    margin: 0; }
  .hero h3 {
    font-size: 1.5rem;
    font-weight: 400; }
  .hero .light {
    font-weight: 200; }
  @media screen and (max-width: 768px) {
    .hero {
      font-size: 20px; } }
  .hero .img {
    max-width: 250px;
    border-radius: 10px; }
    @media screen and (max-width: 500px) {
      .hero .img {
        max-width: 75%; } }
  .hero .btn-down {
    transition: color 0.5s ease; }
    .hero .btn-down:hover {
      color: #007bff; }

.projects {
  background-color: #007bff;
  margin-top: 100px; }
  .projects h1 {
    text-align: center;
    font-size: 3rem;
    color: #fff; }
