body {
  font-family: "Lato", sans-serif; }

.container {
  margin: 3rem 3rem 0 3rem; }

.navbar {
  min-height: 5rem; }
  .navbar .btn-box {
    margin-left: auto;
    display: block;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #3498db;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 50px; }
    .navbar .btn-box:hover {
      background-color: #2980b9;
      transition: background-color 0.5s ease; }

.hero {
  margin-top: 50px;
  text-align: center; }
  .hero h1 {
    font-size: 3rem; }
  .hero h3 {
    font-size: 1.5rem;
    font-weight: 300; }
  @media screen and (max-width: 768px) {
    .hero {
      font-size: 20px; } }
